.nav{
    background-color: rgba(34, 32, 32, 0.3);
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 0px;
}
ul li{
    display: inline-block;
    padding: 20px 30px;
    list-style: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
ul li a:hover{
    color: orangered;
    transition: 0.5s;
}
.Active{
    background-color: bisque;
}