<div class="main">
    <div class="card">
    
      <div class="text">
        <h2> everest<br> <span>waiting</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, iusto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur sunt eveniet aspernatur praesentium quidem temporibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, repellendus enim commodi beatae sint architecto.</p>
      </div>
      <div class="input">
      <input type="text" placeholder="Try search something..." ><span>search</span>
    </div>
  </div>
  
  <div class="final">
    <p><i class='bx bx-plus'></i><span>best guide for you</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, temporibus.</p>
    <p><i class='bx bx-plus'></i><span>best journey for you</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quis.</p>
    <p><i class='bx bx-plus'></i><span>tibet destination</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptatum!</p>
  </div>
  </div>